* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background: url(../img/content/hero-bg.png) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {}

.nav__link {}

.btn {}

.content {}

.content__main {}

.content__headline {}

.title {}

.content__desc {}